body {
  font-family: "Helvetica", Sans-Serif;
  background-color: #a3b5c4ab; /* Faded grey-blue color */
  /* background-image: url("/images/bkg.png"); */
}
a:visited {
  color: black;
}
a:link {
  color: rgb(10, 7, 84);
}
.links {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  font-size: 8vw;
  line-height: 8vh;
}

.links span {
  margin: clamp(5px, 4vw, 15px) clamp(5px, 1vw, 15px) 0 0; /* Margin with vertical and horizontal spacing */
  padding: clamp(2px, 5vw, 8px) 0; /* Padding to add more vertical space within each link */
}


.MyHeader {
  margin-top: 40px;
  margin-left: 120px;
}
.MyBox {
  padding: 20px;
  width: 300px;
  height: 25px;
}
.Nav {
  margin-left: 10px;
}
.BlueBox {
  padding: clamp(0.5px, 20vw, 4px);
  border-radius: clamp(1px, 0.5vw, 10px);
  border: 2px solid #09112e;
  font-weight: bold;
  text-align: center;
  color: #556d8a;
  font-size: clamp(16px, 8vw, 24px);
  line-height: clamp(25px, 18vw, 50px); /* Ensuring enough line height */
  text-shadow: clamp(1px, 0.5vw, 3px) clamp(1px, 0.5vw, 3px) clamp(2px, 1vw, 6px) #232330b1;
  margin-bottom: clamp(10px, 10vw, 20px); /* Adding bottom margin to prevent overlap */
}


.BlueBox {
  background: linear-gradient(
      45deg,
      #7087da 25%,
      transparent 25%,
      transparent 75%,
      #1f2746 75%,
      #7087da
    ),
    linear-gradient(
      45deg,
      #7087da 25%,
      transparent 25%,
      transparent 75%,
      #7087da 75%,
      #7087da
    );
  background-size: 3px 3px;
}
.BlueBox:hover{
  background: rgba(18, 18, 160, 0.757);
}


/* .trytopnav {
  height:48px;
  overflow:hidden;
  min-width:380px;
  position:absolute;
  width:100%;
  top:99px;
  background-color:#E7E9EB;
} */
